/* --platinum: #dcdcddff;
--french-gray: #c5c3c6ff;
--outer-space: #46494cff;
--paynes-gray: #4c5c68ff;
--blue-munsell: #1985a1ff; */
 /* steel blue: #3F88C5 */
 /* orange #F75C03 */
body{
    display: flex;
    justify-content: center;
    background-color: #4c5c68ff;
    

    
}
.main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 700px;
    background-color:#294C60;
    border-radius: 1rem;
}
.display{
    display: flex;
    justify-content: center;
    width: 295px;
    height: 120px;
    background-color:#c5c3c6ff;
    
    border-radius: 15px;
    
}


.calc-buttons{
    
    width: 300px;
    
    
}
button{
    color: #F75C03;
    width: 70px;
    height: 70px;
    background-color: #001B2E;
    border-radius: 10px;
    border-color: #001B2E;
    font-size: x-large;
    font-weight: bold;
    
}